-- MySQL dump 10.13  Distrib 8.0.40, for Linux (x86_64)
--
-- Host: localhost    Database: katariadb
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bill_items_gst`
--

DROP TABLE IF EXISTS `bill_items_gst`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bill_items_gst` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `item_total_price` decimal(10,2) NOT NULL,
  `price_per_sqft` decimal(10,2) NOT NULL,
  `product_image_url` varchar(500) DEFAULT NULL,
  `product_name` varchar(200) NOT NULL,
  `product_type` varchar(50) DEFAULT NULL,
  `sqft_ordered` decimal(10,2) NOT NULL,
  `unit` varchar(50) DEFAULT NULL,
  `bill_id` int NOT NULL,
  `product_id` int DEFAULT NULL,
  `hsn_number` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bill_items_gst`
--

LOCK TABLES `bill_items_gst` WRITE;
/*!40000 ALTER TABLE `bill_items_gst` DISABLE KEYS */;
/*!40000 ALTER TABLE `bill_items_gst` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bill_items_non_gst`
--

DROP TABLE IF EXISTS `bill_items_non_gst`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bill_items_non_gst` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `item_total_price` decimal(10,2) NOT NULL,
  `price_per_sqft` decimal(10,2) NOT NULL,
  `product_image_url` varchar(500) DEFAULT NULL,
  `product_name` varchar(200) NOT NULL,
  `product_type` varchar(50) DEFAULT NULL,
  `sqft_ordered` decimal(10,2) NOT NULL,
  `unit` varchar(50) DEFAULT NULL,
  `bill_id` int NOT NULL,
  `product_id` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=163 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bill_items_non_gst`
--

LOCK TABLES `bill_items_non_gst` WRITE;
/*!40000 ALTER TABLE `bill_items_non_gst` DISABLE KEYS */;
/*!40000 ALTER TABLE `bill_items_non_gst` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bill_payments`
--

DROP TABLE IF EXISTS `bill_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bill_payments` (
  `payment_id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(14,2) NOT NULL,
  `bill_id` bigint NOT NULL,
  `bill_kind` enum('GST','NON_GST') NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `payment_date` date NOT NULL,
  `payment_mode` enum('CASH','UPI','BANK_TRANSFER','CHEQUE') NOT NULL,
  `created_by` bigint DEFAULT NULL,
  `is_deleted` bit(1) NOT NULL,
  `updated_by` bigint DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`payment_id`),
  KEY `idx_bill_payments_bill` (`bill_kind`,`bill_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bill_payments`
--

LOCK TABLES `bill_payments` WRITE;
/*!40000 ALTER TABLE `bill_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `bill_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bills_gst`
--

DROP TABLE IF EXISTS `bills_gst`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bills_gst` (
  `id` int NOT NULL AUTO_INCREMENT,
  `bill_date` date NOT NULL,
  `bill_number` varchar(50) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `discount_amount` decimal(10,2) NOT NULL,
  `notes` text,
  `payment_method` varchar(50) DEFAULT NULL,
  `payment_status` enum('PENDING','PARTIAL','PAID','CANCELLED') NOT NULL,
  `service_charge` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `tax_amount` decimal(10,2) NOT NULL,
  `tax_rate` decimal(5,2) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `total_sqft` decimal(10,2) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `customer_id` int NOT NULL,
  `labour_charge` decimal(10,2) NOT NULL,
  `transportation_charge` decimal(10,2) NOT NULL,
  `other_expenses` decimal(10,2) NOT NULL,
  `created_by_user_id` bigint DEFAULT NULL,
  `delivery_address` text,
  `hsn_code` varchar(20) DEFAULT NULL,
  `vehicle_no` varchar(50) DEFAULT NULL,
  `location` varchar(50) DEFAULT NULL,
  `paid_amount` decimal(10,2) NOT NULL,
  `is_deleted` bit(1) NOT NULL,
  `updated_by_user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_ajgegv2pw3p6k3x5kv1qb4nim` (`bill_number`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bills_gst`
--

LOCK TABLES `bills_gst` WRITE;
/*!40000 ALTER TABLE `bills_gst` DISABLE KEYS */;
/*!40000 ALTER TABLE `bills_gst` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bills_non_gst`
--

DROP TABLE IF EXISTS `bills_non_gst`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bills_non_gst` (
  `id` int NOT NULL AUTO_INCREMENT,
  `bill_date` date NOT NULL,
  `bill_number` varchar(50) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `discount_amount` decimal(10,2) NOT NULL,
  `notes` text,
  `payment_method` varchar(50) DEFAULT NULL,
  `payment_status` enum('PENDING','PARTIAL','PAID','CANCELLED') NOT NULL,
  `service_charge` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `total_sqft` decimal(10,2) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `customer_id` int NOT NULL,
  `labour_charge` decimal(10,2) NOT NULL,
  `transportation_charge` decimal(10,2) NOT NULL,
  `other_expenses` decimal(10,2) NOT NULL,
  `created_by_user_id` bigint DEFAULT NULL,
  `location` varchar(50) DEFAULT NULL,
  `paid_amount` decimal(10,2) NOT NULL,
  `is_deleted` bit(1) NOT NULL,
  `updated_by_user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_bill` (`created_by_user_id`,`bill_number`)
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bills_non_gst`
--

LOCK TABLES `bills_non_gst` WRITE;
/*!40000 ALTER TABLE `bills_non_gst` DISABLE KEYS */;
/*!40000 ALTER TABLE `bills_non_gst` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category_type` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `description` text,
  `display_order` int NOT NULL,
  `image_url` varchar(500) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `name` varchar(100) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_purchase_payments`
--

DROP TABLE IF EXISTS `client_purchase_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_purchase_payments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `client_id` varchar(200) NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `date` date NOT NULL,
  `notes` text,
  `payment_method` varchar(50) NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `client_purchase_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK4e50r962pdpojdwstdnmjdn8l` (`client_purchase_id`),
  CONSTRAINT `FK4e50r962pdpojdwstdnmjdn8l` FOREIGN KEY (`client_purchase_id`) REFERENCES `client_purchases` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_purchase_payments`
--

LOCK TABLES `client_purchase_payments` WRITE;
/*!40000 ALTER TABLE `client_purchase_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_purchase_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_purchases`
--

DROP TABLE IF EXISTS `client_purchases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_purchases` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `client_name` varchar(200) NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `location` varchar(50) NOT NULL,
  `notes` text,
  `purchase_date` date NOT NULL,
  `purchase_description` text NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_purchases`
--

LOCK TABLES `client_purchases` WRITE;
/*!40000 ALTER TABLE `client_purchases` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_purchases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_advance`
--

DROP TABLE IF EXISTS `customer_advance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_advance` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(14,2) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `payment_mode` enum('CASH','UPI','BANK_TRANSFER','CHEQUE') DEFAULT NULL,
  `remaining_amount` decimal(14,2) NOT NULL,
  `customer_id` int NOT NULL,
  `created_by` bigint DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  `updated_by` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK4rel1mtuyor93d5lmvx95uw6b` (`customer_id`),
  CONSTRAINT `FK4rel1mtuyor93d5lmvx95uw6b` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_advance`
--

LOCK TABLES `customer_advance` WRITE;
/*!40000 ALTER TABLE `customer_advance` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_advance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_advance_usage`
--

DROP TABLE IF EXISTS `customer_advance_usage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_advance_usage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount_used` decimal(14,2) NOT NULL,
  `bill_id` bigint NOT NULL,
  `bill_kind` enum('GST','NON_GST') NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `advance_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKf3kpu5xhkbeo3qmea4nmvyw68` (`advance_id`),
  CONSTRAINT `FKf3kpu5xhkbeo3qmea4nmvyw68` FOREIGN KEY (`advance_id`) REFERENCES `customer_advance` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_advance_usage`
--

LOCK TABLES `customer_advance_usage` WRITE;
/*!40000 ALTER TABLE `customer_advance_usage` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_advance_usage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `address` text,
  `created_at` datetime(6) NOT NULL,
  `customer_name` varchar(200) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `gstin` varchar(15) DEFAULT NULL,
  `location` varchar(50) DEFAULT NULL,
  `name` varchar(200) DEFAULT NULL,
  `phone` varchar(20) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  `notes` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_m3iom37efaxd5eucmxjqqcbe9` (`phone`),
  UNIQUE KEY `UKjdf3omrog9kajt0qdr36e2ofk` (`user_id`,`phone`)
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_budget`
--

DROP TABLE IF EXISTS `daily_budget`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_budget` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(12,2) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `location` varchar(50) NOT NULL,
  `remaining_budget` decimal(12,2) DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_9x2p0d8l4tk9w0ldlnexaj50e` (`location`),
  UNIQUE KEY `UK9x2p0d8l4tk9w0ldlnexaj50e` (`location`),
  UNIQUE KEY `UK2d969vn0ini5vblk36p4gmxwd` (`user_id`,`location`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_budget`
--

LOCK TABLES `daily_budget` WRITE;
/*!40000 ALTER TABLE `daily_budget` DISABLE KEYS */;
INSERT INTO `daily_budget` VALUES (3,342180.16,'2026-03-24 15:31:10.036405','Tapugada',341950.16,'2026-03-26 15:16:50.660098',NULL);
/*!40000 ALTER TABLE `daily_budget` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dealers`
--

DROP TABLE IF EXISTS `dealers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dealers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(500) DEFAULT NULL,
  `contact_number` varchar(50) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `location` varchar(50) NOT NULL,
  `name` varchar(200) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dealers`
--

LOCK TABLES `dealers` WRITE;
/*!40000 ALTER TABLE `dealers` DISABLE KEYS */;
/*!40000 ALTER TABLE `dealers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employees` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `employee_name` varchar(200) NOT NULL,
  `joining_date` date NOT NULL,
  `location` varchar(50) NOT NULL,
  `salary_amount` decimal(10,2) NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
INSERT INTO `employees` VALUES (2,'2026-03-26 15:17:26','MULL JI','2026-03-26','Tapugada',12000.00,'2026-03-26 15:17:26',NULL);
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expenses` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `category` varchar(100) NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `date` date NOT NULL,
  `description` text,
  `employee_id` bigint DEFAULT NULL,
  `employee_name` varchar(200) DEFAULT NULL,
  `location` varchar(50) NOT NULL,
  `month` varchar(20) DEFAULT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `settled` bit(1) DEFAULT NULL,
  `type` varchar(50) NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `user_id` bigint DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `is_deleted` bit(1) NOT NULL,
  `updated_by` bigint DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financial_ledger`
--

DROP TABLE IF EXISTS `financial_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financial_ledger` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(14,2) NOT NULL,
  `bill_id` bigint DEFAULT NULL,
  `bill_kind` varchar(16) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `customer_id` bigint DEFAULT NULL,
  `event_date` date NOT NULL,
  `event_type` enum('BILL_PAYMENT','ADVANCE_DEPOSIT') NOT NULL,
  `in_hand_amount` decimal(14,2) NOT NULL,
  `location` varchar(50) NOT NULL,
  `payment_mode` enum('CASH','UPI','BANK_TRANSFER','CHEQUE') NOT NULL,
  `source_id` varchar(64) NOT NULL,
  `source_type` varchar(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_fin_ledger_source` (`source_type`,`source_id`),
  KEY `idx_fin_ledger_loc_date` (`location`,`event_date`),
  KEY `idx_fin_ledger_mode_date` (`payment_mode`,`event_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financial_ledger`
--

LOCK TABLES `financial_ledger` WRITE;
/*!40000 ALTER TABLE `financial_ledger` DISABLE KEYS */;
/*!40000 ALTER TABLE `financial_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hero_slides`
--

DROP TABLE IF EXISTS `hero_slides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hero_slides` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `display_order` int NOT NULL,
  `image_url` varchar(500) NOT NULL,
  `is_active` bit(1) NOT NULL,
  `subtitle` varchar(500) DEFAULT NULL,
  `title` varchar(500) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hero_slides`
--

LOCK TABLES `hero_slides` WRITE;
/*!40000 ALTER TABLE `hero_slides` DISABLE KEYS */;
/*!40000 ALTER TABLE `hero_slides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_history`
--

DROP TABLE IF EXISTS `inventory_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_history` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action_type` enum('ADD','SALE','UPDATE','ADJUST') NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `new_quantity` decimal(12,2) NOT NULL,
  `notes` varchar(512) DEFAULT NULL,
  `previous_quantity` decimal(12,2) NOT NULL,
  `product_id` bigint NOT NULL,
  `quantity_changed` decimal(12,2) NOT NULL,
  `reference_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_history`
--

LOCK TABLES `inventory_history` WRITE;
/*!40000 ALTER TABLE `inventory_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_change_history`
--

DROP TABLE IF EXISTS `product_change_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_change_history` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `new_snapshot` longtext,
  `notes` varchar(512) DEFAULT NULL,
  `previous_snapshot` longtext,
  `product_id` bigint NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_change_history`
--

LOCK TABLES `product_change_history` WRITE;
/*!40000 ALTER TABLE `product_change_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_change_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category_id` int DEFAULT NULL,
  `color` varchar(50) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `damage_expenses` decimal(10,2) DEFAULT NULL,
  `description` text,
  `is_active` bit(1) NOT NULL,
  `is_featured` bit(1) NOT NULL,
  `labour_charges` decimal(10,2) DEFAULT NULL,
  `location` varchar(50) NOT NULL,
  `meta_keywords` varchar(500) DEFAULT NULL,
  `name` varchar(200) NOT NULL,
  `others_expenses` decimal(10,2) DEFAULT NULL,
  `price_per_sqft_after` decimal(10,2) DEFAULT NULL,
  `price_per_sqft` decimal(10,2) NOT NULL,
  `primary_image_url` varchar(500) NOT NULL,
  `product_type` varchar(100) NOT NULL,
  `total_sqft_stock` decimal(10,2) NOT NULL,
  `rto_fees` decimal(10,2) DEFAULT NULL,
  `slug` varchar(250) NOT NULL,
  `unit` varchar(50) DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  `gst_charges` decimal(10,2) DEFAULT NULL,
  `transportation_charge` decimal(10,2) DEFAULT NULL,
  `hsn_number` varchar(20) DEFAULT NULL,
  `owner_user_id` bigint DEFAULT NULL,
  `dealer_id` bigint DEFAULT NULL,
  `supplier_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_ostq1ec3toafnjok09y9l7dox` (`slug`),
  UNIQUE KEY `UKr0m1gfvdv321ub7kmuwumov1f` (`owner_user_id`,`slug`),
  KEY `FK7ws0889lrk6xfjkhq1hardavs` (`dealer_id`),
  KEY `FK6i174ixi9087gcvvut45em7fd` (`supplier_id`),
  CONSTRAINT `FK6i174ixi9087gcvvut45em7fd` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`),
  CONSTRAINT `FK7ws0889lrk6xfjkhq1hardavs` FOREIGN KEY (`dealer_id`) REFERENCES `dealers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=80 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sellers`
--

DROP TABLE IF EXISTS `sellers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sellers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `account_no` varchar(50) DEFAULT NULL,
  `address` text,
  `bank_name` varchar(200) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `gst_no` varchar(15) DEFAULT NULL,
  `ifsc_code` varchar(20) DEFAULT NULL,
  `mobile` varchar(50) DEFAULT NULL,
  `name` varchar(200) NOT NULL,
  `sub_header` varchar(200) DEFAULT NULL,
  `terms` text,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `location` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `location` (`gst_no`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sellers`
--

LOCK TABLES `sellers` WRITE;
/*!40000 ALTER TABLE `sellers` DISABLE KEYS */;
INSERT INTO `sellers` VALUES (1,'125005084087','Bhondsi, Gurgaon, Haryana','Canara Bank','2025-12-27 11:01:31','06EJIPK4714E1ZD','CNRB0005693','9999999999','KATARIA STONE WORLD ','Marble & Granite Supplier','Payment within 15 days','2026-03-23 14:44:12','Bhondsi'),(2,'749830110000047','Tapukara, Alwar, Rajasthan','Bank Of India','2026-03-19 09:35:06','08BFXPJ2525N1ZR','BKID0007498','9829286061','KATARIA MARBLE AND GRANITE SUPPLIER','Tiles & Marble Supplier','Payment within 15 days','2026-03-19 09:35:06','Tapugada');
/*!40000 ALTER TABLE `sellers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `state_gst_master`
--

DROP TABLE IF EXISTS `state_gst_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `state_gst_master` (
  `id` int NOT NULL AUTO_INCREMENT,
  `gst_code` varchar(10) NOT NULL,
  `state_name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `state_gst_master`
--

LOCK TABLES `state_gst_master` WRITE;
/*!40000 ALTER TABLE `state_gst_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `state_gst_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suppliers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(500) DEFAULT NULL,
  `contact_number` varchar(50) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `location` varchar(50) NOT NULL,
  `name` varchar(200) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `email` varchar(255) NOT NULL,
  `location` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(20) NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_6dotkott2kjsp8vw4d0m25fb7` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_product`
--

DROP TABLE IF EXISTS `website_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `website_product` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `category_id` bigint DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `description` text,
  `is_active` bit(1) NOT NULL,
  `name` varchar(200) NOT NULL,
  `price` decimal(12,2) DEFAULT NULL,
  `primary_image_url` varchar(500) DEFAULT NULL,
  `slug` varchar(250) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_gt7ex6ye84w6f1jgn6gnvowyg` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_product`
--

LOCK TABLES `website_product` WRITE;
/*!40000 ALTER TABLE `website_product` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_product` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-27  6:02:57
